<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ contact.name }}</h3>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <img [src]="contact.imageUrl">
            <div style="display: grid; gap: 5px; grid-template-columns: auto auto;">
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <p><b>Email:</b>{{contact.email}}</p>
        <p><b>Phone:</b>{{contact.phone}}</p>
    </div>
</div>